<%= form_with(model: calculator) do |form| %>
  <% if calculator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calculator.errors.count, "error") %> prohibited this calculator from being saved:</h2>

      <ul>
        <% calculator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number_of_years %>
    <%= form.number_field :number_of_years %>
  </div>

  <div class="field">
    <%= form.label :property_price %>
    <%= form.text_field :property_price %>
  </div>

  <div class="field">
    <%= form.label :down_payment %>
    <%= form.text_field :down_payment %>
  </div>

  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.text_field :interest_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
