<p id="notice"><%= notice %></p>

<h1>Calculators</h1>

<table>
  <thead>
    <tr>
      <th>Number of years</th>
      <th>Property price</th>
      <th>Down payment</th>
      <th>Interest rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calculators.each do |calculator| %>
      <tr>
        <td><%= calculator.number_of_years %></td>
        <td><%= calculator.property_price %></td>
        <td><%= calculator.down_payment %></td>
        <td><%= calculator.interest_rate %></td>
        <td><%= link_to 'Show', calculator %></td>
        <td><%= link_to 'Edit', edit_calculator_path(calculator) %></td>
        <td><%= link_to 'Destroy', calculator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calculator', new_calculator_path %>
