<div class="container row">
    <div class="col-md-6">
      <div class="">
        <%= form_tag root_path, method: :get do |form| %>
          <div class="field">
            <p>Home price</p>
            <%= number_field_tag 'calculate[property_price]' %>
          </div>
          <div class="field">
            <p>Down payment</p>
            <%= number_field_tag 'calculate[down_payment]' %>
          </div>
          <div class="field">
            <p>Interest rate </p>
            <%= text_field_tag 'calculate[interest_rate]' %>
          </div>
          <div class="field">
            <p>Length of loan in years</p>
            <%= number_field_tag 'calculate[number_of_years]' %>
          </div>

          <div class="field">
          <%= submit_tag 'Calculate!'%>
          </div>
        <% end %>
        </div>

    </div>
  <div class="col-md-6">

    <div class="jumbotron jumbotron-fluid">
    <h2 class="display-5">Monthly payment </h2>
    <h3 class="lead "> <%= number_to_currency(@monthly_payment) %><h3>
    <hr class="my-4">
    <p class="lead">
    </p>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <h2 class="display-5">Total interest </h2>
      <h3 class="lead "> <%= number_to_currency(@monthly_payment) %><h3>
      <hr class="my-4">
      <p class="lead"> </p>
    </div>

  </div>
</div>